<nav class="nav">
  <NavLink href="/" Match="NavLinkMatch.All">Inicio</NavLink>
  <NavLink href="/destinos">Destinos</NavLink>
  <NavLink href="/paquetes">Paquetes</NavLink>
  <NavLink href="/clientes">Clientes</NavLink>
  <NavLink href="/reservas">Reservas</NavLink>
</nav>
